<div class="modal fade" role="dialog" id="query-in-process-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="query-in-process">
          <span class="fa fa-spinner fa-spin"></span>
          <h2>Please wait...</h2>
        </div>
      </div>
    </div>
  </div>
</div>