<div class="row" ng-controller="SearchController">
  <div class="col-md-6 col-md-offset-3" ng-show="show_input">
    <h1>Travel, simplified.</h1>
    <div>
      <form name="searchForm" ng-submit="submit()">
        <div class="row" id="location-inputs">
          <div class="col-md-6">
            <typeahead items="airports" prompt="Depart from..." title="name" subtitle="city" model="search.depart_location" on-select="onItemSelected()" />
            <!-- <input type="text" class="typeahead" placeholder="Departure" name="depart_location" id="depart-autocomplete" ng-model="search.depart_location.name"> -->
             <!-- ng-model="search.depart_location.name" -->
          </div>
          <div class="col-md-6">
            <input type="text" class="search-bar" placeholder="Destination" name="destination_location" id="destination-autocomplete">
          </div>
        </div>
        <div class="row" id="date-inputs">
          <div class="col-md-6">
            <label>Departure Date:</br>
              <input type="date" name="depart_date" id="depart-date" ng-model="search.depart_date">
            </label>
          </div>
          <div class="col-md-6">
            <label>Return Date:</br>
              <input type="date" name="return_date" id="return-date" ng-model="search.return_date">
            </label>
          </div>
        </div>
        <input type="submit" class="btn btn-default search-submit-btn" ng-click="show_input=false; show_filter=true">
      </form>
    </div>
  </div>

  <div>
    <%= render "results/index" %>
  </div>

</div>


