<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>Travel, simplified.</h1>
    <form name="searchForm" ng-controller="SearchController as search" ng-submit="submit()">
      <div class="row" id="location-inputs">
        <input type="text" placeholder="Departure" name="depart_location" ng-model="itinerary" required>
        <input type="text" placeholder="Destination" name="destination_location" ng-model="itinerary" required>
      </div>
      <div class="row" id="date-inputs">
        <div class="col-md-6">
          <label>Departure Date:
            <input type="date" name="depart_date" ng-model="itinerary" required>
          </label>
        </div>
        <div class="col-md-6">
          <label>Arrival Date:
            <input type="date" name="return_date" ng-model="itinerary">
          </label>
        </div>
      </div>
      <input type="submit" class="btn btn-default">
    </form>
  </div>
</div>
