<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>Travel, simplified.</h1>
    <form name="searchForm" ng-controller="SearchController as search">
      <input type="text" name="depart_location" ng-model="itinerary" required>
      <input type="text" name="destination_location" ng-model="itinerary" required>
      <input type="date" name="depart_date" ng-model="itinerary" required>
      <input type="date" name="return_date" ng-model="itinerary">
      <input type="submit">
    </form>
  </div>
</div>
