<div class="row" ng-controller="SearchController">
  <div class="col-md-6 col-md-offset-3" ng-show="show_input">
    <div class="intro-box">
        <div class="title-text">
          <span id="bold-text">Travel,</span>
          <span id="slim-text">simplified.</span>
        </div>
        <div>
          <form name="searchForm" ng-submit="submit()">
            <div class="row" id="location-inputs">
              <div class="col-md-6" id="departure-input">
                <autocomplete items="airports" prompt="Departure..." title="code" subtitle="name" city="city" model="search.depart_location" on-select="onItemSelected()" />
              </div><br><br>
              <div class="col-md-6" id="arrival-input">
                <autocomplete items="airports" id="arrive-place" prompt="Destination..." title="code" subtitle="name" city="city" model="search.arrival_location" on-select="onItemSelected()" />
              </div>
            </div>
            <div class="row" id="date-inputs">
              <input type="date" class="form-control" name="depart_date" id="depart-date" ng-model="search.depart_date">
              <!-- <div class="col-md-6 hidden">
                <label>Return Date:</br>
                  <input type="date" class="form-control" name="return_date" id="return-date" ng-model="search.return_date">
                </label>
              </div> -->
            </div>
            <input type="submit" class="btn btn-default search-submit-btn btn-embossed" ng-click="show_input=false; show_filter=true">
          </form>
        </div>
      </div>

    </div>
  <div>
    <%= render "results/index" %>
  </div>

</div>


