<div class="col-md-4">
  <div class="thumbnail">
    <img src="<%= itinerary.hotels.first.photo_url %>">
    <div class="caption">
      <%= render itinerary.hotels %>

      <%= render itinerary.trips.first.flights %>

    </div>
  </div>
</div>
