<div class="col-md-6">
  <div class="panel-group" id="itinerary-<%= itinerary.id %>-details" role="tablist" aria-multiselectable="true">
    <%= render itinerary.hotels %>
  </div>
  <%= render itinerary.trips %>
</div>
