<div ng-repeat="trip in resultingTrips | orderBy:'duration'">
    <div ng-if="trip_index == $index">
        <div class="box">
            <span class="left-arrow"><a href="#" ng-click="prev()"><i class="fa fa-angle-double-left fa-3x"></i></a></span>
            <span class="right-arrow"><a href="#" ng-click="next()"><i class="fa fa-angle-double-right fa-3x"></i></a></span>
            <div class="box-icon">
                <span><i class="fa fa-plane fa-3x"></i></span>
            </div>
            <div class="info">
                <div class="trip-template">
                    <div class="query-in-process">
                        <span class="fa fa-spinner fa-spin"></span>
                    </div>
                    <div class="flight-template" ng-repeat="flight in trip.flights">
                        <h4 class="text-center">{{flight.carrier_full}}</h4>
                        <div class="header-map">
                            <span class="flight-carrier">{{flight.carrier_abbv}} {{flight.flight_num}}</span>
                            <span class="flight-date">{{flight.dep_time|date:fullDate}}</span>
                        </div>
                        <br>
                        <div class="flight-map">
                            <span class="flight-origin">{{flight.airport_ori_code}}</span>
                            <span class="flight-dest">{{flight.airport_dest_code}}</span>
                        </div>
                        <br>
                        <div class="schedule-map">
                            <span class="flight-dep">{{flight.dep_time | date: 'shortTime'}}</span>
                            <span class="flight-arr">{{flight.arr_time | date: 'shortTime'}}</span>
                        </div>
                        <br>
                    </div>
                    <center><span class="trip-price">{{trip.price | currency}}</span></center>
                </div>
            </div>
            <span class="filter btn-embossed btn-danger"><a href="#" id="carrier-btn-text-remove" ng-click="addBanned(trip)">Filter out {{trip.flights[0].carrier_full}}</a></span>
        </div>
    </div>
</div>
<div class="banned-tags">
        <span ng-repeat="carrier in banned" class="airline-tag btn-embossed"><a href="#" id="carrier-btn-text" ng-click="unBan(carrier)">{{carrier}}</a></span>
</div>
