<div ng-controller="TripController">
<!--   Search: <input ng-model="search"> -->
  <ul>
    <li ng-repeat="trip in trips">
      <p>{{trip.flights[0].carrier_abbv}} : {{trip.flights[0].duration}}</p>
    </li>
  </ul>
</div>



