<div ng-controller="FlightController as fc">
  Search: <input ng-model="search">
  <ul>
    <li ng-repeat="flight in fc.flights | orderBy: 'price'">
      <p>{{flight.name}} : {{flight.price | currency}}</p>
    </li>
  </ul>
</div>


<div ng-controller="FlightController as fc">
  <ul>
    <li ng-repeat="flight in fc.flights | orderBy: fc.duration">
      <p>{{flight.name}}</p>
    </li>
  </ul>
</div>



<div ng-controller="TripController">
  <p ng-bind="steven"></p>
  <form>
    Origin: <input ng-model="trip.origin">
    Dest: <input ng-model="trip.dest">

  <button ng-click="findTrips()">Find trips</button>

  <div ng-repeat="trip in trips">
    <p ng-bind="trip[0].carrier_abbv"></p>
  </div>
</div>
