<div ng-controller="HotelController">
<!--   <button ng-click="fetchHotels()">Click Here!</button> -->
  <ul>
    <li ng-repeat="hotel in hotels">
      <p>{{hotel.name}}</p>
    </li>
  </ul>
</div>


