HELLLO
<div ng-controller="TripController">
<!--   Search: <input ng-model="search"> -->
  <ul>
    <li ng-repeat="trip in trips">
      {{trip.flights[0].airport_ori_code}}: {{trip.flights[0].duration}}
    </li>
  </ul>
</div>
Hello!


