<div ng-controller="HotelController">
  <button ng-click="fetchHotels()">Click Here!</button>
  <ul>
    <p ng-bind="blah"></p>
    <li ng-repeat="hotel in hotels">
      <p>{{hotel.name}}</p>
    </li>
  </ul>
</div>


