<!-- must include because toggle is not available in current bootstrap gem -->
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js"></script>


<div ng-controller="TripController">
    <div class="three-column-container" ng-controller="HotelController">

        <div class="col-md-2 col" ng-show="show_filter">
            <%= render "filters/filter" %>
        </div>

        <div class="itinerary" ng-show="show_filter">

            <div class="col-md-5 col trip-content" ng-hide="show_flight_results">
                <%= render "trips/price" %>
            </div>
            <div class="col-md-5 col trip-content" ng-show="show_flight_results">
                <%= render "trips/durations" %>
            </div>

            <div class="col-md-5 col hotel-content">
                <%= render "hotels/results" %>
            </div>
        </div>
    </div>
</div>

<div ng-controller="ItineraryController" ng-show="show_filter">
    <button class="btn btn-warning btn-embossed " id="save-itinerary-button" ng-click="create()">Save</button>
</div>
