<!-- must include because toggle is not available in current bootstrap gem -->
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js"></script>

<div ng-controller="ItineraryController" ng-show="show_filter">
    <button class="btn btn-default" id="save-itinerary-button" ng-click="create()">Save</button>
</div>

<div ng-controller="TripController">
    <div class="three-column-container" ng-controller="HotelController">

        <div class="col-md-2 col" ng-show="show_filter">

            <div class='wrapper text-center'>
                <div class="btn-group btn-group-xs" data-toggle="buttons">
                    <button type="button" class="btn btn-default time-dur-btn active" ng-click="show_flight_results=true">
                        <input type="radio" name="options" id="option1"> <span class="glyphicon glyphicon-time"></span>
                    </button>
                    <button type="button" class="btn btn-default time-dur-btn" ng-click="show_flight_results=false">
                        <input type="radio" name="options" id="option3"> <span class="glyphicon glyphicon-usd"></span>
                    </button>
                </div>
            </div>

            <div class="filter-list">
                <div class="filter-option row">
                    <div class="filter-option-label">
                        Departure AM
                    </div>
                    <div class="filter-option-switch">
                        <input type="checkbox" ng-model="options.departam_status" ng-change="updateFlights()">
                    </div>
                </div>

                <div class="filter-option row">
                    <div class="filter-option-label">
                        Departure PM
                    </div>
                    <div class="filter-option-switch">
                        <input type="checkbox" ng-model="options.departpm_status" ng-change="updateFlights()">
                    </div>
                </div>

                <div class="filter-option row">
                    <div class="filter-option-label">
                        Arrival AM
                    </div>
                    <div class="filter-option-switch">
                        <input type="checkbox" ng-model="options.arriveam_status" ng-change="updateFlights()">
                    </div>
                </div>

                <div class="filter-option row">
                    <div class="filter-option-label">
                        Arrival PM
                    </div>
                    <div class="filter-option-switch">
                        <input type="checkbox" ng-model="options.arrivepm_status" ng-change="updateFlights()">
                    </div>
                </div>

                <div class="filter-option row">
                    <div class="filter-option-label">
                        AirBnb
                    </div>
                    <div class="filter-option-switch">
                        <input type="checkbox" ng-model="airBnb_status" ng-change="airBnb()">
                    </div>
                </div>

                <div class="filter-option row">
                    <div class="filter-option-label">
                        Direct
                    </div>
                    <div class="filter-option-switch">
                        <input type="checkbox" ng-model="options.direct_status" ng-change="updateFlights()">
                    </div>
                </div>

            </div>
        </div>

    <div class="itinerary" ng-show="show_filter">

        <div class="col-md-5 col trip-content" ng-hide="show_flight_results">
            <button class="btn btn-default"  ng-click="next()">Next</button>
            <button class="btn btn-default" ng-click="create()">Save</button>
            <div ng-repeat="trip in resultingTrips | orderBy:'price'">
                <div ng-if="trip_index == $index">

                    <div class="box">
                        <div class="box-icon">
                            <span class="fa fa-4x fa-html5"></span>
                        </div>
                        <div class="info">
                            <h4 class="text-center">Trips</h4>
                            <div class="trip-template">
                                <div class="flight-template" ng-repeat="flight in trip.flights">
                                    <div class="flight-long">{{flight.carrier_full}}</div>
                                    <div class="header-map">
                                        <span class="flight-carrier">{{flight.carrier_abbv}} {{flight.flight_num}}</span>
                                        <span class="flight-date">{{flight.dep_time|date:fullDate}}</span>
                                    </div>
                                    <br>
                                    <div class="flight-map">
                                        <span class="flight-origin">{{flight.airport_ori_code}}</span>
                                        <span class="flight-dest">{{flight.airport_dest_code}}</span>
                                    </div>
                                    <br>
                                    <div class="schedule-map">
                                        <span class="flight-dep">{{flight.dep_time | date: 'shortTime'}}</span>
                                        <span class="flight-arr">{{flight.arr_time | date: 'shortTime'}}</span>
                                    </div>
                                    <br>
                                </div>
                                <span>{{trip.price | currency}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-5 col trip-content" ng-show="show_flight_results">
                <button class="btn btn-default"  ng-click="next()">Next</button>
                <div ng-repeat="trip in resultingTrips | orderBy:'duration'">
                    <div ng-if="trip_index == $index">
                        <div class="trip-template">
                            <div class="flight-template" ng-repeat="flight in trip.flights">
                                <div class="flight-long">{{flight.carrier_full}}</div>
                                <div class="header-map">
                                    <span class="flight-carrier">{{flight.carrier_abbv}} {{flight.flight_num}}</span>
                                    <span class="flight-date">{{flight.dep_time|date:fullDate}}</span>
                                </div>
                                <br>
                                <div class="flight-map">
                                    <span class="flight-origin">{{flight.airport_ori_code}}</span>
                                    <span class="flight-dest">{{flight.airport_dest_code}}</span>
                                </div>
                                <br>
                                <div class="schedule-map">
                                    <span class="flight-dep">{{flight.dep_time | date: 'shortTime'}}</span>
                                    <span class="flight-arr">{{flight.arr_time | date: 'shortTime'}}</span>
                                </div>
                                <br>
                            </div>
                        <span><h6>{{trip.price | currency}}</h6></span>
                        </div>
                    </div>
                </div>
            </div>

        <div class="col-md-5 col hotel-content">
            <button class="btn btn-default" ng-click="next_hotel()">Next</button>
            <div ng-repeat="hotel in resultingHotels | orderBy:'price'">
                <div ng-if="hotel_index == $index">
                    <div class="hotel-template">
                        <div class="img-container" style="background-image: url({{hotel.photoUrl}})">
                            <div class="hotel-price">${{hotel.price}}</div>
                            <a href="{{hotel.url}}" target="_blank">
                                <div class="hotel-description">
                                    <div id="provider-tag" class="hotel-attr">{{hotel.provider}}</div>
                                    <div class="hotel-attr">{{hotel.name | limitTo:35 }}...</div>
                                    <div class="hotel-attr">{{hotel.city}}, {{hotel.neighbourhood}}</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
