<div class="btn-group" data-toggle="buttons">
  <button type="button" class="btn btn-default active">
    <input type="radio" name="options" id="option1" autocomplete="off" checked> <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
  </button>
  <button type="button" class="btn btn-default">
    <input type="radio" name="options" id="option3" autocomplete="off"> <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
  </button>
</div>

