*{
  font-family: "Helvetica Neue";
}

a {
  text-decoration: none;
  font-weight: normal;
}

body {
  background: url(/assets/sky-desert.jpg);
  position: center center;
  font-family: "Helvetica Neue";
}

.navbar-brand {
  color: white;
}

.container {
  padding: 10px;
}

.caption p {
  font-size: 0.75em;
}

.modal {
  z-index: 30000;
}

#account-container {
  display: flex;
}

.itinerary-details {
  font-size: 0.75em;
}

.nav-txt {
  color: white;
  font-family: "Helvetica Neue";
}

.btn-nav {
  padding-top: 0;
  padding-bottom: 0;
}

p.itinerary-details {
  font-size: 1em;
  margin: 0px;
}

.itinerary-icon {
  font-size: 1.5em;
  float: right;
}

.flight-row {
  padding: 0px 15px 0px 15px;
  text-align: center;
}

.flight-arrow {
  font-size: 2em;
}

.itinerary-header {
  padding-top: 5px;
  padding-bottom: 15px;
}

h4.panel-title {
  font-size: 1.3em;
}

div.panel-heading {
  background-color: #BDC3C7 !important;
  color: #2C3E50 !important;
}
