.caption p {
  font-size: 0.75em;
}

.modal {
  z-index: 30000;
}

#user-sidebar {
  height: 600px;
}

#update-account {
  margin-top: 10px;
  margin-bottom: 20px;
}

.user-section {
  height: 1200px;
}

.hotel-city {
  font-size: 1.15em;
}

.itinerary-details {
  font-size: 0.75em;
}

.itinerary-link {
  font-size: 0.75em;
  float: right;
}
