.search-bar {
  width: 100%;
}

/*remove blue outline around buttons*/
 .btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none;
}

button.time-dur-btn {
  width: 70px;
}

.btn-default {
  width: 100px;
}

.btn-group {
  margin: 20px 0px 20px 0px;
}

.col {
  margin-top: 20px;
}

.filter-option {
  margin-top: 10px;
}

.filter-option-label {
  float: left;
  display: inline-block;
}

.filter-option-switch {
  float: right;
  display: inline-block;
}

.trip-content, .hotel-content {
  text-align: center;
}

.items {
  position: absolute;
  background-color: #ABB7B7;
  height: auto;
  width: 100%;
  display: block;
  z-index: 10000;
  padding: 5px;
}
