.search-bar {
  margin-bottom: 0px;
  position: absolute;
  width: 100%;
}

/*remove blue outline around buttons*/
 .btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none;
}

.btn-default {
  width: 100px;
}

#time-dur-btn1,
#time-dur-btn2 {
  height: 25px;
  width: 50px;
}

.btn-group {
  margin: 20px 0px 20px 0px;
}

.col {
  margin-top: 20px;
}

.filter-option {
  margin-top: 10px;
}

.filter-option-label {
  padding-top: 20px;
  font-size: 12px;
  text-align: left;
  color: white;
  display: inline-block;
  float: right;
}

.filter-option-switch {
  text-align: left;
  display: inline-block;
}

.trip-content, .hotel-content {
  text-align: center;
}

#date-inputs {
  margin-top: 50px;
}

.search-bar {
  margin-bottom: 0px;
  position: absolute;
}

#departure-input .search-bar {
  z-index: 20000;
}

#arrival-input .search-bar {
  z-index: 18000;
}

.items {
  position: absolute;
  top: 35px;
  background-color: #ECF0F1;
  border: 2px solid #1ABC9C;
  height: auto;
  width: 100%;
  display: block;
  padding: 2px 5px 0px 5px;
  border-radius: 4px;
}

#departure-input .items {
  z-index: 19000;
}

#arrival-input .items {
  z-index: 17000;
}

.item {
  border-top: 1px solid #95A5A6;
  height: 50px;
}

.autocomplete-title-container {
  display: inline-block;
  float: left;
  width: 25%;
  height: 100%;
}

.autocomplete-title {
  padding: 0px 5px 0px 5px;
}

.autocomplete-subtitle {
  font-size: 0.70em;
  margin-top: 2px;
  margin-bottom: 2px;
  display: block;
}

.left-arrow {
  float: left;
}

.arrow {
  color: black;
}

.right-arrow {
  float: right;
}

.box-filter {
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 25px 25px;
    display: block;
    margin-top: 60px;
    background-color: #1abc9c;
}


