<div class="box-filter">
    <div class='wrapper text-center'>
        <div class="btn-group btn-group-xs" data-toggle="buttons">
            <button type="button" id="time-dur-btn1" class="btn btn-default active" ng-click="show_flight_results=true">
                <input type="radio" name="options" id="option1"> <i class="fa fa-clock-o fa-lg"></i>
            </button>
            <button type="button" id="time-dur-btn2" class="btn btn-default" ng-click="show_flight_results=false">
                <input type="radio" name="options" id="option3"> <i class="fa fa-usd fa-lg"></i>
            </button>
        </div>
    </div>

    <div class="filter-list">
        <div class="filter-option row">
            <div class="filter-option-label">
                Depart AM
            </div>
            <div class="filter-option-switch">
                <input type="checkbox" id="test1" ng-model="options.departam_status" ng-change="updateFlights()"><label for="test1"><span class="ui"></span></label>
            </div>
        </div>

        <div class="filter-option row">
            <div class="filter-option-label">
                Depart PM
            </div>
            <div class="filter-option-switch">
                <form action="#">
                    <input type="checkbox" id="test2" ng-model="options.departpm_status" ng-change="updateFlights()"><label for="test2"><span class="ui"></span></label>
                </form>
            </div>
        </div>

        <div class="filter-option row">
            <div class="filter-option-label">
                Arrive AM
            </div>
            <div class="filter-option-switch">
                <form action="#">
                    <input type="checkbox" id="test3" ng-model="options.arriveam_status" ng-change="updateFlights()"><label for="test3"><span class="ui"></span></label>
                </form>
            </div>
        </div>

        <div class="filter-option row">
            <div class="filter-option-label">
                Arrive PM
            </div>
            <div class="filter-option-switch">
                <form action="#">
                    <input type="checkbox" id="test4" ng-model="options.arrivepm_status" ng-change="updateFlights()"><label for="test4"><span class="ui"></span></label>
                </form>
            </div>
        </div>

        <div class="filter-option row">
            <div class="filter-option-label">
                AirBnb
            </div>
            <div class="filter-option-switch">
                <form action="#">
                    <input type="checkbox" id="test5" ng-model="airBnb_status" ng-change="airBnb()"><label for="test5"><span class="ui"></span></label>
                </form>
            </div>
        </div>

        <div class="filter-option row">
            <div class="filter-option-label">
                Direct
            </div>
            <div class="filter-option-switch">
                <form action="#">
                    <input type="checkbox" id="test6" ng-model="options.direct_status" ng-change="updateFlights()"><label for="test6"><span class="ui"></span></label>
                </form>
            </div>
        </div>
    </div>

</div>
