<nav id="navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation<span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand banner-txt" href="/"><i class="fa fa-paper-plane-o"> VELOX</i></a>
      </div>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <% if @session_user %>
          <button class="btn btn-primary btn-embossed banner-btn"><%= link_to 'my account', curr_user_path, class: "banner-txt" %></button>
          <button class="btn pink btn-embossed banner-btn"><%= link_to 'logout', curr_session_path, method: :delete, class: "banner-txt" %></button>
          <% else %>
          <button class="btn btn-primary btn-embossed banner-btn"><a class="banner-txt" href="#" data-toggle="modal" data-target="#login-modal">log in</a></button>
          <button class="btn pink btn-embossed banner-btn"><a class="banner-txt" href="#" data-toggle="modal" data-target="#signup-modal">sign up</a></button>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
